@import "import/reset";


@font-face {
    font-family: 'DINNextLTProBold';
    src: url('../fonts/dinnextltpro-bold-webfont.eot');
    src: url('../fonts/dinnextltpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinnextltpro-bold-webfont.woff') format('woff'),
         url('../fonts/dinnextltpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/dinnextltpro-bold-webfont.svg#DINNextLTProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINNextLTProMedium';
    src: url('../fonts/dinnextltpro-medium-webfont.eot');
    src: url('../fonts/dinnextltpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinnextltpro-medium-webfont.woff') format('woff'),
         url('../fonts/dinnextltpro-medium-webfont.ttf') format('truetype'),
         url('../fonts/dinnextltpro-medium-webfont.svg#DINNextLTProMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINNextLTProRegular';
    src: url('../fonts/dinnextltpro-regular-webfont.eot');
    src: url('../fonts/dinnextltpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinnextltpro-regular-webfont.woff') format('woff'),
         url('../fonts/dinnextltpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/dinnextltpro-regular-webfont.svg#DINNextLTProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'EntypoRegular';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "pf_din_text_cond_pro";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/pfdintextcondpro-light-webfont.eot");
    src: url("../fonts/pfdintextcondpro-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/pfdintextcondpro-light-webfont.woff2") format("woff2"),
         url("../fonts/pfdintextcondpro-light-webfont.woff") format("woff"),
         url("../fonts/pfdintextcondpro-light-webfont.ttf") format("truetype"),
         url("../fonts/pfdintextcondpro-light-webfont.svg#pf_din_text_cond_prolight") format("svg");
}

@font-face {
    font-family: "pf_din_text_cond_pro";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/pfdintextcondpro-regular-webfont.eot");
    src: url("../fonts/pfdintextcondpro-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/pfdintextcondpro-regular-webfont.woff2") format("woff2"),
         url("../fonts/pfdintextcondpro-regular-webfont.woff") format("woff"),
         url("../fonts/pfdintextcondpro-regular-webfont.ttf") format("truetype"),
         url("../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular") format("svg");
}
@font-face {
    font-family: "pf_din_text_cond_pro";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/pfdintextcondpro-medium-webfont.eot");
    src: url("../fonts/pfdintextcondpro-medium-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/pfdintextcondpro-medium-webfont.woff2") format("woff2"),
         url("../fonts/pfdintextcondpro-medium-webfont.woff") format("woff"),
         url("../fonts/pfdintextcondpro-medium-webfont.ttf") format("truetype"),
         url("../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium") format("svg");
}
@font-face {
    font-family: "pf_din_text_cond_pro";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/pfdintextcondpro-bold-webfont.eot");
    src: url("../fonts/pfdintextcondpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-bold-webfont.woff2") format("woff2"), url("../fonts/pfdintextcondpro-bold-webfont.woff") format("woff"), url("../fonts/pfdintextcondpro-bold-webfont.ttf") format("truetype"), url("../fonts/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold") format("svg");
}
@font-face {
    font-family: "pf_din_text_comp_pro";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/pfdintextcomppro-regular-webfont.eot");
    src: url("../fonts/pfdintextcomppro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-regular-webfont.woff2") format("woff2"), url("../fonts/pfdintextcomppro-regular-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-regular-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular") format("svg");
}
@font-face {
    font-family: "pf_din_text_comp_pro";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/pfdintextcomppro-medium-webfont.eot");
    src: url("../fonts/pfdintextcomppro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-medium-webfont.woff2") format("woff2"), url("../fonts/pfdintextcomppro-medium-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-medium-webfont.ttf") format("truetype"), url("../fonts/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium") format("svg");
}



$color_1: #2c303d;
$color_2: #282828;
$color_3: #2c87ce;
$color_4: #1f5e8f;
$color_5: #68abdf;
$color_6: #ce2c52;
$color_7: #fff;
$font_family_1: "DINNextLTProRegular", sans-serif;
$font_family_2: "Oswald", sans-serif;
$font_family_3: Open Sans Light,sans-serif;
$font_family_4: Open Sans Bold,sans-serif;
$background_color_1: #8ae6cf;
$background_color_2: #fff;

.button,
button,
.btn,
input[type='button'],
input[type='reset'],
input[type='submit']
 {
  font-family: $font_family_1;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding: 15px;
  width: 214px;
  cursor: pointer;
  user-select: none;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: $color_1;
  border: none;
  border-radius: 22px;
  behavior: url(css/PIE.htc);
  background-color: $background_color_1;
  -webkit-font-smoothing: antialiased;
  &:hover,&:focus,&:active {
    opacity: 0.8;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

body {
  font-family: $font_family_1;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.1;
  min-width: 302px;
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  color: $color_2;
  background-color: $background_color_2;
  -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font_family_2;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: $color_1;
  letter-spacing: 2px;
  letter-spacing: 1.8px;
}
h2{
  font-family: $font_family_1;
  font-size: 23px;
}
p {
  margin: 0 0 9px;
}
pre {
  margin: 0 0 9px;
}
a {
  transition: background-color 750ms ease, color 105ms ease, opacity 45ms ease;
  text-decoration: none;
  color: $color_3;
  font-size: 18px;
  font-weight: bold;
  &:active,&:focus {
    color: $color_4;
    color: $color_5;
    outline: none;
  }
  &:hover {
    color: $color_4;
    opacity: 0.8;
  }
}
hr {
  margin: 1.1em 0;
  border-top: none;
  border-right: none;
  border-left: none;
}
img {
  max-width: 100%;
  margin: 0;
}
picture {
  max-width: 100%;
  margin: 0;
}
.clearfix {
  *zoom: 1;
  &:before {
    display: table;
    content: '';
  }
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}
nav {
  ul {
    li {
      display: inline-block;
    }
  }
}
.article {
  .clearfix {
    *zoom: 1;
    &:before {
      display: table;
      content: '';
    }
    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }
}


header{
  padding-top: 18px;
}

.row{
    max-width: 972px;
    margin: auto;
}

.head-row{
  max-width: 900px;
  padding-bottom: 17px;
}

.menu-row{
    padding: 12px;
    max-width: 970px;
}

.header-nav{
  border-bottom: 1px solid #beeb9f;
  border-top: 1px solid #f4f4e6;
      margin-bottom: 32px;
ul{
    text-align: center;
    display: table;
    width: 100%;
    margin-left: -20px;
}
  li{
    text-align: center;
    display: table-cell;
    text-align: center;
  position: relative;
  }
  a{
    color: #000;
    text-transform: uppercase;
display: block;
text-align: center;
width: 100%;
font-family: $font_family_2;
font-size: 16px;
&:hover{
  opacity:  0.8;
  }
}
}
.header-nav li .submenu{
  display: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 9;
      background: rgba(255,255,255,0.9);
    padding: 10px;
    margin: 0;
   li{
  width: 100%;
  float: left;
  display: block;

  a{
text-align: center;
font-size: 14px;
text-transform: none;
padding: 4px;
  }
 }
}

.header-nav li:hover{
.submenu{
 display: block;
 opacity: 1;
}
}



.banr{
  float: left;
width: auto;

a{
    position: relative;
    display: block;
    padding: 5px;
  img{
    display: block;
  }
  span{
    position: absolute;
    width: 100%;
    color: #00a388;
    font-size: 14px;
    background: #fff;
    width: 95px;
    left: 0;
    right: 0;
    bottom: 25px;
    margin: auto;
    text-align: center;
    display: none;

  }

&:hover{
  span{
    color: #b16e64;
    display: block;
  }
}
}
}


.new{
  position: relative;
  margin: auto;
border-top:1px solid #ff6138;
 padding-top: 20px;
 margin-top: 20px;
 max-width: 962px;
 padding-bottom: 20px;
 margin-top: 78px;
}

.new__title{
    background: #ff6138;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin: auto;
    TEXT-ALIGN: CENTER;
    width: auto;
    display: table;
    padding: 5px;
  margin-top: -43px;
    font-weight: 200;
    padding-left: 18px;
    padding-right: 18px;
    font-family: $font_family_2;


}



.carouseller:before, .carouseller:after {  content: " ";  display: table;}
.carouseller:after { clear: both;}
.carouseller { position: relative;}

.carouseller [class*="car__"]{
  display: inline-block;
  position: relative;
    margin-left: 0.2564102564102564% !important;
    *margin-left: 0.25109110747408616% !important;
    float: left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.carouseller [class*="car__"]:first-child  { margin-left: 0 !important;}
.carouseller [class*="car__"]:nth-child(n+7) { display: none;}

.carouseller .car__by5 { width: 1.793789743589745%;}
.carouseller .car__12 { width: 10%;}
.carouseller .car__6 { width: 4.8837948717948715%;}
.carouseller .car__4 { width: 3.1703931623931625%;}
.carouseller .car__3 { width: 2.3136923076923077%;}
.carouseller .car__2 { width: 1.452991452991453%;}
.carouseller .car__1 { width: 0.5982905982905983%;}

.carouseller .carouseller__list { position: relative; width: 997.4358974358974%;}
.carouseller .carouseller__wrap { overflow: hidden; position: relative; margin: 0 35px}

.carouseller .carouseller__left,
.carouseller .carouseller__right {
  position: absolute;
  margin: 0;
  bottom: 25px;
    opacity: 0.5;
    text-align: center;
  width: 16px;
  height: 67px;
  background-image: url(../img/ar_l.png);
color: #fff  ;
font-size: 1px;
top: 105px;
}
.new .carouseller .carouseller__left{
    left: -28px;
    right: auto;
}



.carouseller .carouseller__left { left: 0;}
.carouseller .carouseller__right {
  background-image: url(../img/ar_r.png);
}

.new .carouseller .carouseller__right{
  right: -36px;
  left: auto;
}
.carouseller .carouseller__left:hover, .carouseller .carouseller__right:hover { opacity: 0.8;}


/*------Responsive-----------*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .carouseller .car__by5,
  .carouseller .car__12,
  .carouseller .car__6,
  .carouseller .car__4,
  .carouseller .car__3,
  .carouseller .car__2,
  .carouseller .car__1 { width: 3.1623931623931625%;}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .carouseller .car__by5,
  .carouseller .car__12,
  .carouseller .car__6,
  .carouseller .car__4,
  .carouseller .car__3,
  .carouseller .car__2,
  .carouseller .car__1 { width: 4.8717948717948715%;}
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .carouseller .car__by5,
  .carouseller .car__12,
  .carouseller .car__6,
  .carouseller .car__4,
  .carouseller .car__3,
  .carouseller .car__2,
  .carouseller .car__1 { width: 10%;}
}



/* This can be deleted */
[class*="car__"] { text-align: center; font-size: 30px; font-weight: bold; }

.carouseller {

  margin: auto;
    max-width: 840px;
    margin-top: 28px;
}


.carouseller__wrap .car__item{
  margin: 0!important;
  cursor: pointer;
color: #000;
}

.car__img{
  width: 100%;
  float: left;

}

.cartxt{
  float: left;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
    min-width: 190px;
}
.carname{
  float: left;
font-size: 11px;
text-transform: uppercase;
text-align: left;
max-width: 100px;
overflow: hidden;
}
.carprice{
float: right;
    line-height: 30px;
    font-weight: 900;
    color: #000;
    max-width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.currency{
  font-size: 12px;
}
.tenth{
font-size: 16px;
    height: 100%;
    vertical-align: top;
    line-height: 18px;
}

.save_wrap{
margin-top: 2px;
    width: 100%;
}
.save,.old-price{
  text-transform: uppercase;
    font-size: 11px;
    color: #9ca5aa;
    text-align: left;
    float: left;

}
.old-price{
float: right;
    text-decoration: line-through;
    font-size: 14px;
    margin-top: -4px;
    text-align: left;
    width: 64px;
        overflow: hidden;
    text-overflow: ellipsis;
}






@media (max-width:1000px) {
.banr {
width: 25%;
text-align: center;

img{
  max-width: 100%;
  margin: auto;
}
}
.banr:first-child{
  width: 50%;
}

.carouseller {
    max-width: 650px;
}
.header-logo{
  padding-left: 20px;
}
}


@media (max-width:750px) {
.carouseller {
    max-width: 460px;
}

.new .carouseller .carouseller__right{
  right: 0;
}
.new .carouseller .carouseller__left{
  left: 0;
}
}


@media (max-width:550px) {
 .banr{
  width: 40%;
 }
 .banr:nth-child(3){
  width: 60%;
 }
.banr:first-child{
  width: 100%;
}
.carouseller {
    max-width: 270px;
}


 .sea_botton {
  position: absolute;
    top: 4px;
left: 10px;
z-index: 999;
display: none;
padding: 0;
width: 34px;
height: 34px;
border:1px solid #fff;
background-image: url(../img/menu.png);
background-position: center center;
background-repeat: no-repeat;
}




.sea_botton:hover,.sea_botton:focus {
  opacity: 1;
  color: #fff;
  border:1px solid #d7ebdd;
}



.sea_botton {
    display: block;
  }

  .sea_w {
    height: auto;
    width: 100%;
    position: relative;
  }
    #Wrapp{
    display: none;
  }


  .head-row{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #beeb9f;
        padding-bottom: 14px;
  }

  header{
padding: 0;
    padding-top: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background: rgba(255,255,255,0.9);
    height: 70px;
  }
section {
    margin-top: 80px;
}

.header-logo{
  padding: 0;
  img{
    max-width:100px;
  }
}
.banr a{

  padding-bottom: 12px;
  }
  .new__title{
    display: none;

  }
  .new{
    border: none;
  }
  .banners{
    padding-left: 4px;
    padding-right: 4px;
  }
  .new {
    padding-top: 17px;
    margin-top: 0px;
}
.new .carouseller .carouseller__right{
  right: -14px;
}
.new .carouseller .carouseller__left {
    left: -14px;
}

.header-nav{
  border: none;
 .headnav{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 54px;
  li{
    float: left;
    width: 100%;
    display: block;
    a{
      padding: 6px;
      font-size: 14px;
    }
    .submenu{
      display: block;
      opacity: 1;
      padding: 0;
      padding-top: 4px;
      padding-bottom: 4px;
      background: none;
      position: relative;
      float: left;

      li{
        a{
          font-size: 12px;
        }
      }
    }
  }
}

}
}






